fastapi
uvicorn
gunicorn
pydantic
langchain
langchain-openai
python-dotenv
faiss-cpu
pypdf
langchain-community
selenium==4.15.2
openai
aiohttp==3.8.5
beautifulsoup4==4.12.2
requests==2.31.0
asyncio==3.4.3
  # Ensure you have the latest certificate authority bundle
